DEPLOY_USER=_____
SERVER_SSH=__.___.__.__
DEPLOY_PATH_FRONTEND=/home/____/frontend
DEPLOY_PATH_BACKEND=/home/______/backend
DEPLOY_REPO=https://github.com/_____/web-plus-pm2-deploy.git
DEPLOY_REF=origin/master